@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500&display=swap');
:root{
	--color-naranja:#ffc000;
	--color-titulos:#333;
	--color-gris:#f2f4ec;
	--bg-footer:#1a2130;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #888;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Khula', sans-serif;
	color: var(--color-titulos);
}

header.sticky {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99;
	background-color: #fff !important;
}
header.sticky .navbar-light .navbar-nav .nav-link{
	color: #000;
}
header.sticky .navbar-light .navbar-nav .nav-item.active .nav-link{
	background-color:transparent;
	color:var(--color-naranja);
}
header.sticky .d-block{
	display: none !important;
}
header.sticky .d-none{
	display: block !important;
}

header{
	background-color: #fff;
	/*box-shadow: 0px 0px 5px 3px #eee;*/
}

footer{
	background-color: var(--bg-footer);
	padding: 30px 0;
	text-align: center;
}

.info-hero{
	width: 45%;
	text-align: center;
	margin:auto;
}

#hero{
	background-image: url("../img/bg2.jpg");
	background-size: cover;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	
}
.overlay{
	background-color:rgba(0,0,0,0.65);
	height: 100vh;
	padding: 10% 0;
}

#hero h4{
	text-transform: uppercase;
	color: #fff;
	font-size: 11px;
	font-weight: 300;
	letter-spacing: 1px;
}
#hero h1{
	font-size: 100px;
	color: #fff;
	font-weight: 800;
}
#hero h5{
	color: #fff;
	font-size: 16px;
	margin-bottom: 30px;
}

.btn-bitbank{
	border-radius: 0;
	padding: 15px 30px;
	background-color: var(--color-naranja);
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
}
.btn-bitbank:hover{
	background-color: #fff;
	color: #666;
}

.section{
	padding: 8% 0;
}

.titulos-section h2{
	text-align: center;
	font-weight: 800;
	color: var(--color-titulos);
	font-size: 30px;
	margin-bottom: 20px;
}
.titulos-section p{
	width: 60%;
	margin: auto;
	text-align: center;
}
.titulos-section hr{
	width: 70px;
	margin: auto;
	margin-bottom: 30px;
	border-color: #638D38;
	opacity: 1;
	display: none;
}
.titulos-section{
	margin-bottom: 60px;
}

.titulos-section h2::after{
	content: '';
	background-color: #638D38;
	width: 70px;
	height: 1px;
	display: block;
	margin: auto;
	margin-top: 20px;
}

.info-service{
	text-align: center;
}
.info-service i.las{
	font-size: 80px;
	width: 140px;
	height: 140px;
	line-height: 140px;
	border-radius: 100%;
	border: 1px solid #eee;
	color: #333;
	margin-bottom: 20px;
	transition: all 0.3s ease-in-out;
}
.info-service h3{
	font-size: 22px;
}
.info-service a{
	color: var(--color-titulos);
	font-weight: 600;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}
.info-service:hover i{
	background-color: var(--color-naranja);
	transition: all 0.3s ease-in-out;
}
.info-service:hover a{
	color: var(--color-naranja);
	text-decoration: underline;
	transition: all 0.3s ease-in-out;
}
.info-service i.la-share{
	background-color: var(--color-naranja);
}
.bg-naranja{
	background-color: var(--color-naranja);
}


#about h4{
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-top: 10%;
}
#about h2{
	font-size: 26px;
	font-weight: 700;
}
#about ul{
	color: #666;
	list-style: none;
	padding-left: 0;
}
#about li{
	margin-bottom: 10px;
}
#about li::before{
	content: '\f058';
	font-family: 'Line Awesome Free';
	font-weight: 900;
	color: var(--color-naranja);
	font-size: 16px;
	margin-right: 10px;
}
#about .btn-bitbank{
	background-color: #000;
	color: #fff;
}
#about .btn-bitbank:hover{
	background-color: var(--color-naranja);
	color: #fff;
}


#works{
	position: relative;
}
#works .titulos-section{
	padding: 7% 0;
}
#works .titulos-section p{
	color: #fff;
}

.icon-works{
	text-align: center;
	margin-top: -120px;
	width: 60%;
}
.icon-works .circulo{
	border-radius: 100%;
	width: 120px;
	height: 120px;
	line-height: 100px;
	background-color: var(--color-naranja);
	margin: auto;
	border: 6px solid #fff;
}
.icon-works .circulo img{
	width: 50px;
}
.icon-works h3{
	font-size: 18px;
	font-weight: 700;
	margin: 20px 0;
}

.bg-gray{
	background-color: var(--color-gris);
}


#features h4{
	font-size: 18px;
	font-weight: 700;
}


#call{
	background-image: url("../img/slider-1.jpg");
 	background-size: cover;
 	text-align: center;
 	color: #fff;
}
#call i{
	text-align: center;
	margin-left: 20px;
	color: var(--color-naranja);
	font-size: 20px;
}	
.overlay-call{
	background-color:rgba(0,0,0,0.65);
	padding: 7% 0;	
}

#call h3{
	font-size: 40px;
	color: #fff;
	font-weight: 800;
}

#call h4{
	font-size: 15px;
	color: #fff;
	font-weight: 800;
}




#counter {
	background-image: url("../img/parallax-bg.jpg");
	background-size: cover;
	background-attachment: fixed;
	margin:auto;
	text-align: center;
}
#counter i{
	color: var(--color-naranja);
	font-size: 40px;
}
#counter h3{
	color: #FFFFFF;
	text-align: center;	
	font-weight: 500;
	margin: 20px 0;
}
#counter h2{
	color: #FFFFFF;
	text-align: center;	
	font-weight: 800;
}


#team .card{
	text-align: center;
	padding: 20px 15px;
	border-radius: 15px;
}
#team .card img{
	border-radius: 100%;
	border: 10px solid #fff;
}
#team .card h4{
	font-weight: 700;
	text-transform: uppercase;
	margin: 20px 0 5px;
	font-size: 20px;
}
#team .card i{
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: var(--color-naranja);
	border: 1px solid var(--color-naranja);
	border-radius: 100%;
	transition: all 0.3s ease-in-out;
}


#team .card:hover{
	box-shadow: 0px 0px 20px 3px #eee;
}

#team .card:hover img{
	border: 10px solid var(--color-naranja);
	transition: all 0.3s ease-in-out;
}

#team .card:hover i{
	background-color: var(--color-naranja);
	color: #fff;
	transition: all 0.3s ease-in-out;
}


#faq .accordion-item{
	border: 0;
	margin-bottom: 10px;
}
#faq .accordion-button{
	background-color: #f1f1e6;
	border-radius: 60px;
	font-weight: 700;
	font-size: 18px;
	color: var(--color-naranja);
}
#faq .accordion-button.collapsed{
	color: #242167;
}
#faq .accordion-body{
	background-color: #f1f1e6;
	margin-top: 10px;
	border-radius: 20px;
	color: #888;
}

.titulos-section h4{
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	margin-bottom: 20px;
}


/*Móvil*/
@media (max-width:600px){
	
	header{
		position: relative;
		background-color: #000 !important;
	}
	#hero h1{
		font-size: 50px;
	}
	.info-hero{
		width: 100%;
	}
	.icon-works{
		margin-top: inherit;
	}
	
}


























